<h2 class = "row justify-content-center mb-3">スポットで探す</h2>

<div class = "d-flex justify-content-center flex-wrap mb-3">
  <% @spots.each do |spot| %>
    <div class = "col-3 ml-1">
      <%= link_to posts_path(spot_id: spot.id) do %>
        ○<%= spot.name %>
      <% end %>
    </div>
  <% end %>
</div>

<div class = "d-flex justify-content-center flex-wrap">
  <div class = "col-5 ml-1">
    <%= link_to "/homes/area" do %>
      <p>エリア一覧</p>
    <% end %>
  </div>
  <div class = "col-5 ml-1">
    <%= link_to "/homes/genre" do %>
      <p>ジャンル一覧</p>
    <% end %>
  </div>
</div>