<div class = "row justify-content-center mb-3">
  <%= link_to "/homes/spot" do %>
    <h1>Welcome to HiroshiMap</h1>
  <% end %>
</div>

<div class = "row justify-content-center mb-3">
  <%= link_to new_user_session_path do %>
    <h1>Join HiroshiMap member</h1>
  <% end %>
</div>

<div class = "row justify-content-center">
  <h1>What's HiroshiMap?</h1>
</div>