<div class="row">
  <div class="col-md-8 col-12 mx-md-auto">

    <h4>スポット編集</h4>

    <%= form_with model: @spot, url: admin_spot_path, method: :patch do |f| %>

      <%= render "form", f: f %>

      <div class="actions mb-3">
        <%= f.submit "編集完了", class: "btn btn-success" %>
      </div>

    <% end %>

    <%= link_to "戻る", admin_spots_path %>

  </div>
</div>