<div class="row">
  <div class="col-md-8 col-12 mx-md-auto">

    <h4>スポット作成フォーム</h4>

    <%= form_with model: @spot, url: admin_spots_path, method: :post do |f| %>

      <%= render "form", f: f %>

      <div class="actions mb-3">
        <%= f.submit "作成する", class: "btn btn-success" %>
      </div>

    <% end %>

    <%= link_to "スポット一覧", admin_spots_path %>

  </div>
</div>