* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  height: 700px;
  background-image: url("torii.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.7;
}

.about {
  height: 1000px;
  background-image: url("yakei.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.9;
}