* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body{
  background-color: #FAF0E6;
}

.top1 {
  height: 700px;
  background-image: url("torii.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.7;
}
.top2 {
  height: 700px;
  background-image: url("onomichi1.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.7;
}
.top3 {
  height: 700px;
  background-image: url("heiwakouen2.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.7;
}

.about {
  height: 1000px;
  background-image: url("yakei.jpg");
  background-size: cover;
  background-position: top;
}

.introduction{
  opacity: 0.8;
}

.tab-area {
  height: 50px;
  cursor: pointer;
}

.tab.active {
  border-bottom: 5px solid #FF99CC;
}
.content {
  display: none;
}
.content.show {
  margin-top: 50px;
  display: block;
}